# Repository Admins
*                 @service-extensions-samples-owners @dee-infra

# Code Sample Reviewers
samples/          @service-extensions-samples-reviewers @upeeth
README.md         @service-extensions-samples-reviewers @upeeth
