# Repository Admins
*                 @GoogleCloudPlatform/service-extensions-samples-owners @GoogleCloudPlatform/dee-infra

# Sample Reviewers
samples/          @GoogleCloudPlatform/service-extensions-samples-reviewers @upeeth
README.md         @GoogleCloudPlatform/service-extensions-samples-reviewers @upeeth
