# NOTE: this workspace Bazel config was copied from proxy-wasm-cpp-host and
# edited to choose some sensible defaults. Consider moving copts and
# linkopts into BUILD rules upstream.

# Default engine to execute when running bazel build/test. This engine can
# be overridden by specifying a different engine on the command line:
# `bazel test //... --define engine=wasmtime` for example.
build --define engine=v8

# For unit testing, remove randomness from BoringSSL.
# This doesn't capture 'bazel run' test invocations. Oh well.
test --per_file_copt=external/boringssl/.*@-DBORINGSSL_UNSAFE_DETERMINISTIC_MODE=1

# For benchmarking, set specific build options.
build:bench --define run_benchmarks=1
build:bench --compilation_mode opt
build:bench --dynamic_mode=off
build:bench --copt -gmlt

# Use Clang compiler.
build --action_env=BAZEL_COMPILER=clang
build --action_env=CC=clang
build --action_env=CXX=clang++

# Set per-platform flags (used below).
build --enable_platform_specific_config

# Use C++17.
build:linux --cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:windows --cxxopt="/std:c++17"

# Enable symlinks and runfiles on Windows (enabled by default on other platforms).
startup --windows_enable_symlinks
build:windows --enable_runfiles
