/bazel-*
/callouts/python/env
/callouts/python/env/**
/callouts/python/__pycache__/**
/callouts/python/__pycache__
/callouts/python/.pytest_cache/**
/callouts/python/.pytest_cache
/.vscode/**
plugins/bazel-*
/callouts/java/dependency-reduced-pom.xml
/callouts/java/target
/callouts/java/target/**
**/__pycache__