/bazel-*
/callouts/python/env
/callouts/python/p12
/callouts/python/env/**
/callouts/python/__pycache__/**
/callouts/python/__pycache__
/callouts/python/.pytest_cache/**
/callouts/python/.pytest_cache
/callouts/python/protodef/**/
/callouts/python/envoy/**
/callouts/python/upda/**
/callouts/python/validate/**
/callouts/python/xds/**
/plugins/bazel-*
/plugins/target
/.vscode/**
/.idea/**
**/__pycache__
.vscode
/callouts/rust/target
/callouts/rust/proto
/callouts/rust/src/gen/*.rs
