# NOTE: If you're using Bazel 7 or newer and working with gRPC,
# you'll need to turn off bzlmod.
# This is because gRPC isn't fully compatible with bzlmod yet.
# To do this, add --enable_bzlmod=false to your Bazel commands.
build --enable_bzlmod=false

# Set per-platform flags (used below).
build --enable_platform_specific_config

# Use C++17.
build:linux --cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:windows --cxxopt="/std:c++17"

# Force Clang.
build:clang --action_env=BAZEL_COMPILER=clang
build:clang --action_env=CC=clang
build:clang --action_env=CXX=clang++