body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 80%;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 50px;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285f4;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    margin: 10px;
    width: 180px;
    height: 60px;
    text-align: center;
}

.box:hover {
    background-color: #3079ed;
}
